@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src:
       url('/fonts/cuprumbold.woff2') format('woff2'),
       url('/fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src:
       url('/fonts/cuprumitalic.woff2') format('woff2'),
       url('/fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src:
       url('/fonts/cuprumbolditalic.woff2') format('woff2'),
       url('/fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:
       url('/fonts/ptsans.woff2') format('woff2'),
       url('/fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:
       url('/fonts/ptsansbold.woff2') format('woff2'),
       url('/fonts/ptsansbold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  /* font-family: "PT Sans", "Arial", sans-serif; */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.red-button {
  display: block;
  margin: 0;
  padding: 11px 0 9px 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 59px;
}

.inner-page .main-header {
  margin-bottom: 16px;
}

.header-top {
  background-color: #293449;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 11px 0 7px 0;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  background-color: #ca2c37;
}

.header-logo[href]:active {
  background-color: #ba2732;
}

.header-logo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.header-logo[href]:hover::after,
.header-logo[href]:focus::after {
  background-color: #9a212a;
}

.header-logo[href]:active::after {
  background-color: #8e1e26;
}

.header-search {
  position: relative;
}

.header-search-input {
  width: 270px;
  height: 100%;
  padding: 8px 0 9px 48px;
  border: none;
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-search-input:hover {
  background-color: #212a3a;
}

.header-search-input:focus {
  background-color: #ffffff;
}

.header-search-input::placeholder {
  color: #ffffff;
}

.header-search-input:focus::placeholder {
  color: #000000;
}

.header-search-button {
  position: absolute;
  top: 7px;
  left: 12px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-search-button-svg path {
  fill: #6a7180;
}

.header-search-input:hover+.header-search-button path {
  fill: #ffffff;
}

.header-search-input:focus+.header-search-button path {
  fill: #ee3643;
}

.header-order-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-order-item a {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  height: 100%;
  padding: 9px 0;
  font-size: 17px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: #293449;
}

.inner-page .header-order-item:nth-child(2) a {
  background-color: #ee3643;
}

.header-order-item a:hover,
.header-order-item a:focus {
  background-color: #212a3a;
}

.header-order-item a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-order-item:nth-child(1) a {
  padding-left: 44px;
}

.header-order-item:nth-child(2) a {
  padding-left: 49px;
}

.header-order-item svg {
  position: absolute;
  left: 17px;
  top: 12px;
}

.header-order-item:nth-child(2) svg {
  left: 18px;
}

.header-order-item path,
.header-order-item circle {
  fill: rgba(255, 255, 255, 0.3);
}

.header-order-item a:hover path,
.header-order-item a:focus path,
.header-order-item a:hover circle,
.header-order-item a:focus circle {
  fill: rgb(255, 255, 255);
}

.header-order-item a:active path,
.header-order-item a:active circle {
  fill: rgba(255, 255, 255, 0.3);
}

.header-order-item:last-child a {
  justify-content: center;
  padding: 0;
  background-color: #63a63e;
}

.header-order-item:last-child a:hover,
.header-order-item:last-child a:focus {
  background-color: #5fbb2d;
}

.header-order-item:last-child a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-bottom {
  padding: 46px 0 60px 0;
  background-color: #f3f7f8;
}

.header-bottom-top {
  display: flex;
  margin-bottom: 39px;
}

.header-heading {
  width: 300px;
  margin: 0 20px 0 0;
  padding: 3px 0 0 53px;
  box-sizing: border-box;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 23px;
  color: #ee3643;
}

.header-contact {
  width: 270px;
  margin-right: 70px;
}

.inner-page .header-contact {
  margin-right: 50px;
}

.header-contact-tel {
  position: relative;
  display: block;
  width: 270px;
  margin: 0 0 4px 0;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  padding: 9px 0 9px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-contact-tel::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 10px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg");
}

.header-contact-address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-login {
  display: flex;
  align-items: flex-start;
}

.inner-page .header-login {
  flex-direction: column;
}

.header-login-enter,
.header-login-registration {
  display: block;
  padding: 12px 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.header-login-enter:hover,
.header-login-registration:hover,
.header-login-enter:focus,
.header-login-registration:focus {
  color: #ee3643;
}

.inner-page .header-login-enter:hover,
.inner-page .header-login-enter:focus{
  color: #000000;
}

.header-login-enter:active,
.inner-page .header-login-enter:active,
.header-login-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-login-enter {
  position: relative;
  width: 120px;
  box-sizing: border-box;
  margin-right: 10px;
  padding-left: 47px;
}

.inner-page .header-login-enter {
  width: 300px;
  margin: 0 0 4px 0;
}

.header-login-lk {
  display: flex;
  position: relative;
}

.header-login-lk::after {
  content: "";
  position: absolute;
  left: 108px;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%
}

.header-login-lk a {
  margin-left: 18px;
  padding: 3px 0;
  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);
  text-decoration: underline;
}

.header-login-lk a:hover,
.header-login-lk a:focus {
  color: #ee3643;
}

.header-login-lk a:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-login-lk .header-login-office {
  margin-left: 32px;
}

.header-login-enter svg {
  position: absolute;
  left: 13px;
  top: 13px;
}

.inner-page .header-login-enter svg:nth-child(1) {
  left: 269px;
  top: 14px;
}

.inner-page .header-login-enter svg:nth-child(2) {
  left: 13px;
  top: 13px;
}

.header-login-enter:hover path,
.header-login-enter:focus path {
  fill: #32425c;
}

.header-login-enter:active path {
  fill: #c5c5c5;
}

.header-login-registration {
  width: 150px;
  text-align: center;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-item {
  flex-grow: 1;
}

.header-nav-list::before,
.header-nav-list::after {
  content: "";
  width: 21px;
  flex-grow: 0;
  border-bottom: 5px solid #293449;
  background-color: #32425c;
}

.header-nav-list::after {
  width: 24px;
}

.header-nav-item a {
  display: block;
  border-bottom: 5px solid #293449;
  padding: 20px 0 18px 0;
  font-size: 17px;
  line-height: 17px;
  color: rgb(255, 255, 255);
  background-color: #32425c;
  text-align: center;
}

.header-nav-item a:hover,
.header-nav-item a:focus {
  background-color: #293449;
}

.header-nav-item a:active {
  border-bottom: 5px solid #1d2739;
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.offers {
  margin-bottom: 53px;
}

.offers-top {
  margin-bottom: 20px;
}

.offers-list,
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  flex-direction: column;
}

.offers-item,
.advantages-item {
  position: relative;
  width: 300px;
  margin-right: 20px;
}

.advantages-item {
  margin-right: 0;
  margin-bottom: 20px;
}

.advantages-item:last-child {
  margin-bottom: 0;
}

.offers-item:nth-child(1) {
  background: url("../img/icon-1.svg") no-repeat 213px 31px #ffbf47;
}

.offers-item:nth-child(2) {
background: url("../img/icon-2.svg") no-repeat 197px 33px #3bbce3;
}

.offers-item:nth-child(3) {
  margin-right: 0;
  background: url("../img/icon-3.svg") no-repeat 191px 31px #dc91d8;
}

.advantages-item:nth-child(1) {
  background: url("../img/icon-4.svg") no-repeat 196px 26px #8ed78f;
}

.advantages-item:nth-child(2) {
background: url("../img/icon-5.svg") no-repeat 191px 32px #ffc047;
}

.offers-item h3,
.advantages-item h3 {
  margin: 21px 0 12px 23px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.offers-item a,
.advantages-item a {
  display: block;
  width: 135px;
  margin: 0 0 22px 25px;
  padding: 11px 0 9px 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.offers-item a:hover,
.offers-item a:focus,
.advantages-item a:hover,
.advantages-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item a:active,
.advantages-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.new::after {
  content: "New";
  position: absolute;
  top: 5px;
  right: -24px;
  width: 86px;
  height: 28px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 25px;
  background:
  linear-gradient(135deg, transparent 20px, #ff5257 20px, #ff5257 100%) left,
  linear-gradient(-135deg, transparent 20px, #ff5257 20px, #ff5257 100%) right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  text-transform: lowercase;
  transform: rotate(45deg);
}

.offers-item.new::after {
  top: 6px;
  right: -23px;
}

.offers-bottom {
  display: flex;
}

.slider {
  position: relative;
  margin-right: 20px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  width: 620px;
  padding: 23px 0 22px 25px;
  box-sizing: border-box;
}

.slider-item:nth-child(1) {
  background: url("../img/slide-1.jpg") no-repeat #685c53;
}

.slider-item:nth-child(2) {
  background: url("../img/slide-2.jpg") no-repeat #685c53;
}

.slider-item h3 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item p {
  margin: 0 0 121px 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item:nth-child(1) p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.slider-item .red-button {
  width: 195px;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 220px;
  left: 295px;
  width: 30px;
  height: 10px;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

#slide-1:checked ~ .slider-list .slider-item:nth-child(1),
#slide-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}


#slide-1:checked ~ .slider-controls .slider-controls-item-1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #ee3643;
}

.slider-btn {
  position: absolute;
}

.slider-btn {
  width: 40px;
  height: 50px;
  background: url("../img/icon-left.svg") no-repeat 50% 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slider-btn-left {
  left: 16px;
  top: 109px;
}

.slider-btn-right {
  right: 11px;
  top: 109px;
  transform: rotate(180deg);
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-products-header h2 {
  margin: 30px 0 29px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.popular-products-header .red-button {
  width: 253px;
  margin: 0px 24px 1px 0;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  box-sizing: border-box;
  margin: 0 20px 20px 0;
  border: 1px solid #eaeaea;
}

.products-item:nth-child(4) {
  margin-right: 0;
}

.products-item img {
  position: absolute;
  z-index: -1;
}

.bfg-9000 img {
  left:16px;
  top: 5px;
}

.bfg-3000 img {
  left:39px;
  top: 28px;
}

.bfg-6000 img {
  left: 26px;
  top: 21px;
}

.bfg-2000 img {
  left:31px;
  top: 28px;
}

.products-button {
  display: block;
  width: 135px;
  padding: 11px 0 9px 0;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0;
}

.products-button-buy {
  position: relative;
  margin: 44px 0 7px 0;
  padding-left: 49px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.products-button-buy:hover,
.products-button-buy:focus {
  background-color: #5fbb2d;
}

.products-button-buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 0 #518534;
}

.products-button-buy svg {
  position: absolute;
  left: 12px;
  top: 11px;
}

.products-button-buy path,
.products-button-buy circle {
  fill: rgba(255, 255, 255, 0.3);
}

.products-button-buy:hover path,
.products-button-buy:focus path,
.products-button-buy:hover circle,
.products-button-buy:focus circle {
  fill: rgb(255, 255, 255);
}

.products-button-buy:active path,
.products-button-buy:active circle {
  fill: rgb(255, 255, 255);
}

.products-button-bookmarks {
  margin: 0 0 53px 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: inset 0 0 0 3px #63a63e;
  color: #32425c;
  text-align: center;
  background-color: #ffffff;
}

.products-button-bookmarks:hover,
.products-button-bookmarks:focus {
  box-shadow: inset 0 0 0 3px #32425c;
}

.products-button-bookmarks:active {
  color: #c1c6ce;
  box-shadow: inset 0 0 0 3px #c1c6ce;
}

.products-item h3 {
  margin: 0 0 11px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.products-item span {
  margin: 0 0 9px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-align: center;
  text-decoration: line-through;
}

.products-button-arrow {
  position: relative;
  display: block;
  width: 141px;
  margin: auto 0 20px 6px;
  padding: 11px 4px 9px 0;
  box-sizing: border-box;
  border-radius: 3px 0px 0px 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(to right, #ee3643 0%, #ee3643 122px, transparent 122px, transparent 100%);
}

.products-button-arrow:hover,
.products-button-arrow:focus {
  background-image: linear-gradient(to right, #ca2c37 0%, #ca2c37 122px, transparent 122px, transparent 100%);
}

.products-button-arrow:active {
  background-image: linear-gradient(to right, #ba2732 0%, #ba2732 122px, transparent 122px, transparent 100%);
}

.products-button-arrow::after {
  content: "";
  position: absolute;
  left: 122px;
  top: 0;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
}

.products-button-arrow:hover::after,
.products-button-arrow:focus::after {
  border-left: 19px solid #ca2c37;
}

.products-button-arrow:active::after {
  border-left: 19px solid #ba2732;
}

.products-item:hover,
.products-item:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.products-item:hover img {
  opacity: 0;
}

.products-item:hover .products-button {
  opacity: 1;
}

.manufacturers {
  margin-top: 1px;
  margin-bottom: 65px;
}

.manufacturers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.manufacturers-header h2 {
  margin: 30px 0 29px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturers-header .red-button {
  width: 253px;
  margin: 0px 24px 1px 0;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item a {
  position: relative;
  display: block;
  width: 220px;
  height: 145px;
  margin: 0 20px 20px 0;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
}

.manufacturers-item:nth-child(4n) a {
  margin-right: 0;
}

.manufacturers-item img {
  position: absolute;
}

.manufacturers-item:nth-child(1) img {
  left: 46px;
  top: 52px;
}

.manufacturers-item:nth-child(2) img {
  left: 47px;
  top: 49px;
}

.manufacturers-item:nth-child(3) img {
  left: 36px;
  top: 47px;
}

.manufacturers-item:nth-child(4) img {
  left: 8px;
  top: 20px;
}

.manufacturers-item:nth-child(5) img {
  left: 27px;
  top: 57px;
}

.manufacturers-item:nth-child(6) img {
  left: 47px;
  top: 34px;
}

.manufacturers-item:nth-child(7) img {
  left: 34px;
  top: 22px;
}

.manufacturers-item:nth-child(8) img {
  left: 9px;
  top: 33px;
}

.manufacturers-item a:hover,
.manufacturers-item a:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.manufacturers-item a:active {
  filter: opacity(50%);
}

.services {
  margin-bottom: 76px;
  padding: 62px 0 0 0;
  background-color: #f5f8fa;
}

.services-heading {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.services-description {
  margin-bottom: 65px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider {
  display: flex;
}

.services-slider-controls {
  position: relative;
  margin-top: 4px;
  margin-bottom: 102px;
}

.services-slider-controls::after {
  content: "";
  position: absolute;
  left: 230px;
  top: -44px;
  width: 10px;
  height: 279px;
  background: url("../img/shadow.png")
}

.services-slider-controls label {
  display: block;
  width: 240px;
  padding: 13px 10px 17px 22px;
  border-top: 1px solid #4d637b;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.services-slider-controls label:first-child {
  border: none;
}

.services-slider-controls label:hover,
.services-slider-controls label:focus {
  background-color: #293449;
}

#services-1:checked ~ .services-slider-controls .services-slider-controls-item-1,
#services-2:checked ~ .services-slider-controls .services-slider-controls-item-2,
#services-3:checked ~ .services-slider-controls .services-slider-controls-item-3 {
  color: #32425c;
  background-color: #ffffff;
}

.services-slider-list {
  display: flex;
  width: 100%;
  margin: 0 0 0 80px;
  padding: 0;
  list-style: none;
}

.services-slider-item {
  display: none;
  flex-grow: 1;
}

.services-slider-item h3 {
  margin: 0 0 23px 0;
  padding: 0;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: #32425c;
}

.services-slider-item p {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider-item .red-button {
  width: 195px;
  margin-top: 26px;
}

.services-slider-item:nth-child(1) {
  background: url("../img/services-1.png") 151px 27px no-repeat;
}

.services-slider-item:nth-child(2) {
  background: url("../img/services-2.png") 229px 5px no-repeat;
}

.services-slider-item:nth-child(3) {
  background: url("../img/services-3.png") 155px 3px no-repeat;
}

#services-1:checked ~ .services-slider-list .services-slider-item:nth-child(1),
#services-2:checked ~ .services-slider-list .services-slider-item:nth-child(2),
#services-3:checked ~ .services-slider-list .services-slider-item:nth-child(3) {
  display: block;
}

.about-company {
  display: flex;
  margin-bottom: 86px;
}

.about-technomart {
  width: 540px;
  margin-right: 100px;
}

.about-technomart h3 {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.about-technomart p {
  margin-bottom: 24px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-technomart p:nth-child(3) {
  margin-bottom: 20px;
}

.carriers-list {
  margin: 0 0 36px 0;
  padding: 0 0 0 36px;
  list-style: none;
}

.carriers-list li {
  position: relative;
  margin-bottom: 19px;
  font-size: 18px;
}

.carriers-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-technomart .red-button {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts h3 {
  margin: 0 0 24px 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.contacts p {
  margin-bottom: 31px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts img {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.contacts .red-button {
  width: 300px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: 173px;
  padding: 18px 0 15px 0;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  background-color: #ca2c37;
}

.footer-logo[href]:active {
  background-color: #ba2732;
}

.footer-logo::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.footer-logo[href]:hover::after,
.footer-logo[href]:focus::after {
  background-color: #9a212a;
}

.footer-logo[href]:active::after {
  background-color: #8e1e26;
}

.footer-nav-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 38px 0 0 0;
  list-style: none;
}

.footer-nav-item a {
  padding: 5px 0 5px 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-middle {
  padding: 33px 0 49px 0;
  background-color: #32425c;
}

.footer-middle .container {
  display: flex;
  justify-content: space-between;
}

.footer-middle p {
  width: 380px;
  margin: 0 34px 0 2px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-stock-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-stock-item a {
  padding: 5px 0 5px 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-stock-item a:hover,
.footer-stock-item a:focus {
  text-decoration: underline;
}

.footer-stock-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  padding: 35px 0 31px 0;
}

.footer-copyright {
  width: 240px;
  margin: 2px 150px 0 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 131px;
  margin: 0 120px 0 0;
  padding: 0;
  list-style: none;
}

.social-links a {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.social-links li:nth-child(1) a {
  background: url("../img/icon-vk.svg") 8px 13px no-repeat #212a3a;
}

.social-links li:nth-child(2) a {
  background: url("../img/icon-fb.svg") 15px 10px no-repeat #212a3a;
}

.social-links li:nth-child(3) a {
  background: url("../img/icon-insta.svg") 10px 10px no-repeat #212a3a;
}

.social-links li a:hover,
.social-links li a:focus {
  background-color: #ee3643;
}

.social-links li a:active {
  background-color: #ee3643;
}

.feedback,
.developed {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback{
  width: 140px;
  margin-right: 48px;
}

.feedback a,
.developed a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.developed a:hover,
.developed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.breadcrumbs {
  margin-bottom: 15px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -24px;
  top: 7px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.png") 0 0 no-repeat;
}

.breadcrumbs-item a {
  display: block;
  padding: 5px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-item:first-child a {
  width: 14px;
  box-sizing: border-box;
  height: 100%;
  background: url("../img/icon-home.svg") 0 7px no-repeat;
}

.catalog-heading {
  margin: 0 0 20px 0;
  padding: 30px 0 29px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0 0 12px 0;
  padding: 10px 0 10px 19px;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter-item {
  position: relative;
  margin: 0 0 18px 0;
  padding: 0 0 25px 0;
  border: none;
}

.filter-item:nth-child(3) {
  margin-bottom: 51px;
}

.filter-item::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.filter-item legend {
  margin: 0 0 13px 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin: 0 0 9px 0;
  background-color: #f7f3ec;
  border-radius: 0 0 5px 5px;
}

.range-controls .scale {
  position: absolute;
  top: 39px;
  left: 20px;
  height: 2px;
  width: 180px;
  background: #d7dcde;
  z-index: 10;
}

.range-controls .bar {
  width: 144px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 19px;
  left: 105px;
  background-color: #000000;
}

.price-controls input {
  width: 95px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}

.filter-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option:not(:last-child) {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  padding: 0 0 0 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-option label:active {
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  background: url("../img/radio-on.svg") 0 0 no-repeat;
}

.filter-option input:hover + label::before,
.filter-option input:focus + label::before {
  opacity: 0.6;
}

.filter-option input:active + label::before {
  opacity: 0.3;
}

.button {
  padding: 9px 0 9px 0;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  border-color: #bdc6ca;
}

.button:active {
  border-color: #ee3643;
}

.filter-button {
  width: 140px;
}

.catalog {
  width: 700px;
  margin-bottom: 30px;
}

.sorting {
  display: flex;
  margin: 0 0 20px 0;
  padding: 10px 0 9px 19px;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting h2 {
  margin: 0 140px 0 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list,
.arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  margin-right: 70px;
}

.sorting-item:last-child {
  margin-right: 42px;
}

.sorting-item a {
  display: block;
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
  border-bottom: 1px solid #ee3643;
  color: rgb(0, 0, 0);
}

.sorting-item.current a {
  border: none;
  color: #ee3643;
}

.arrows-item:first-child a {
  margin-right: 21px;
}

.arrows-item svg path {
  fill: #c5c5c5;
}

.arrows-item a:hover svg path,
.arrows-item a:focus svg path {
  fill: #231f20;
}

.arrow-current svg path,
.arrows-current a:hover svg path,
.arrows-current a:focus svg path {
  fill: #ee3643;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.inner-page .products-item:nth-child(4n) {
    margin-right: 20px;
}

.inner-page .products-item:nth-child(3n) {
    margin-right: 0;
}

.paginations {
  margin: 32px 0 30px 0;
}

.paginations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginations-item {
  margin-right: 10px;
}

.paginations-item a {
  display: block;
  padding: 9px 14px 9px 15px;
  color: #000000;
}

.paginations-current a {
  background-color: #ee3643;
  border-color: #ee3643;
}

.paginations-next a {
  width: 140px;
  text-align: center;
}

.about-perforators {
  padding: 65px 0 69px 0;
  background-color: #f2f6f8;
}

.about-perforators h2 {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-perforators p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.modal {
  position: fixed;
  left: 50%;
  bottom: 50%;
  display: none;
  box-shadow: 0 10px 20px rgba(4,6,6,.2);
  z-index: 1000;
}

.modal-letter {
  width: 620px;
  margin-left: -310px;
  margin-bottom: -200px;
}

.modal-letter-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 48px 80px 37px 80px;
  border-top: 7px solid #ff5357;
  background-color: #ffffff;
}

.letter-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.letter-item:nth-child(3) {
  width: 460px;
  margin-top: 22px;
}

.letter-item label {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 18px;
}

.letter-item input,
.letter-item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 13px;
  border: 2px solid #d7dcde;
  outline: none;
  border-radius: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  transition-duration: 150ms;
}

.letter-item textarea {
  padding-bottom: 66px;
}

.letter-item input:hover,
.letter-item textarea:hover {
  border-color: #b5b5b5;
}

.letter-item input:focus,
.letter-item textarea:focus {
  border-color: #ee3643;
}

.modal-letter-bottom {
  width: 100%;
  padding: 36px 0;
  background-color: #f4f4f4;
}

.modal-letter-bottom .red-button {
  width: 460px;
  margin: 0 auto;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-close {
  position: absolute;
  left: 590px;
  top: 16px;
  width: 21px;
  height: 21px;
  border: none;
  font-size: 0;
  background: url("../img/form-2.png") 0 0 no-repeat;
  z-index: 10;
}

.modal-map .modal-close {
  left: 910px;
}

.modal-map {
  width: 940px;
  height: 446px;
  margin-bottom: -223px;
  margin-left: -470px;
  background-color: #eaeaea;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  width: 940px;
  height: 446px;
  border: none;
  border-style: none;
}

.modal-map p {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}
